.footerBar {
    display: flex;
    gap: 10px;
    align-items: center;

    .FiltersButton {
        width: 50%;
    }

    .OptionsButton {
        width: 100%;
    }

    button {
        height: 100%;
    }
}